PORT=9000
MONGO_URI=mongodb://finteenDB:AkunBersama123@ac-dx8dp9j-shard-00-00xxxxxxxxxxxxxx
FRONTEND_URL=http://localhost:5173

SMTP_HOST=mail.kulijowo.com
SMTP_PORT=xxx
SMTP_EMAIL=finteen@kulijowo.com
SMTP_PASSWORD=xxxxxxxxxxxx
FROM_NAME="FinTeen Support"
FROM_EMAIL="finteen@kulijowo.com"

GOOGLE_CLIENT_ID=124004066129-e3guxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-6tkZd61UVnyxxxxxxxxxxxxx
GOOGLE_CALLBACK_URL=http://localhost:9000/api/auth/google/callback
