PORT=9000
MONGO_URI=mongodb://finteenDB:xxxxxxxxxxxx
FRONTEND_URL=http://localhost:5173

SMTP_HOST=mail.kulijowo.com
SMTP_PORT=(PORT)
SMTP_EMAIL=finteen@kulijowo.com
SMTP_PASSWORD=(PASSWORD)
FROM_NAME="FinTeen Support"
FROM_EMAIL="finteen@kulijowo.com"

GOOGLE_CLIENT_ID=(CLIENT_ID)
GOOGLE_CLIENT_SECRET=(SECRET)
GOOGLE_CALLBACK_URL=http://localhost:9000/api/auth/google/callback
